<div class="row">
	<div class="col-sm-12">		
		<a ui-sref="admin.roles" class="cursor-pointer"> Add New Roles </a>
	</div>
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr class="info">
					<th>Id</th>
					<th>Role Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="role in ctrl.roles | orderBy : 'role_id'">
					<td>{{role.role_id}}</td>
					<td>{{role.role_name}}</td>
					<td>
						<span>
							<a class="cursor-pointer" ng-click="ctrl.updateRole(role.role_id)"><i class="glyphicon glyphicon-edit" aria-hidden="true"/></a>
						</span>
						<span>
							<a class="cursor-pointer" ng-click="ctrl.updateRole(role.role_id)"><i class="glyphicon glyphicon-remove" aria-hidden="true"/></a>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
