<div class="row">
	<div class="col-sm-12">
		<caption style="color:blue;">
			<b>Roles</b>
		</caption>
		<a ui-sref="admin.roles" class="cursor-pointer"> Add New Roles </a>
	</div>
	<div class="col-sm-12">
		<table class="table">

			<thead>
				<tr class="info">
					<th>#</th>
					<th>Id</th>
					<th>Name</th>
					<th>&nbsp;</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="role in ctrl.roles">
					<td>{{$index + 1}}</td>
					<td>{{role.role_id}}</td>
					<td>{{role.role_name}}</td>
					<td><span><a class="cursor-pointer" ng-click="ctrl.updateRole(role.role_id)"> Update</a></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>