<div>
    <h2>User Registration</h2>
    <div ng-show="!ctrl.verificationFlag" class="form-group has-warning">
        <form class="form-signin" name="register" ng-submit="ctrl.submit()">
            <h3 class="form-signin-heading text-muted"><small>Details</small></h3>
            <!-- <input type="checkbox" name="userrole" ng-model="userrole"><label for="userole">Make me admin</label> -->

            <input type="text" class="form-control" ng-model="ctrl.user.username" placeholder="User Name" required="" autofocus="">

            <input type="email" class="form-control" ng-model="ctrl.user.email_id" placeholder="Email address" required="" autofocus="">

            <input type="password" name="password" ng-model="ctrl.user.password" class="form-control" placeholder="Password" required="">

            <input type="password" name="password_confirm" ng-model="ctrl.user.password_confirm" class="form-control" placeholder="Confirm Password" required="">

            <input type="text" class="form-control" ng-model="ctrl.user.address" placeholder="Address" required="" autofocus="">

            <input type="number" class="form-control" ng-model="ctrl.user.zipcode" placeholder="Zip Code" required="" autofocus="">

            <input type="text" class="form-control" ng-model="ctrl.user.companyname" placeholder="Company Name" required="" autofocus="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign Up
            </button>
        </form>
    </div>
    <form ng-show="ctrl.verificationFlag" class="form-verifyEmail" name="verifyEmailID" ng-submit="ctrl.saveUser()">
        <h3 class="form-signin-heading text-muted"><small>Enter Verification Code</small></h3>
        <input type="text" class="form-control" ng-model="ctrl.user.verification_code" placeholder="Enter verification Code" required="" autofocus="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Verify Code
        </button>
    </form>
</div>
