<h2>Forgot Password</h2>

<form ng-hide="ctrl.isEmailVerified" class="form-signin" name="emailSubmit" ng-submit="ctrl.emailSubmit()">
    <div class="form-group has-warning">

        <h3 class="form-signin-heading text-muted"> <small>Enter Registerd Email Address</small></h3>
        <input type="email" class="form-control" ng-model="ctrl.email_id" placeholder="Enter Email ID" required="" autofocus="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Submit
        </button>
    </div>
</form>

<form ng-show="ctrl.isEmailVerified" class="form-signin" name="ChangePassword" ng-submit="ctrl.changePassword()">
    <div class="form-group has-warning">
        <h3 class="form-signin-heading text-muted"> <small>Reset Password</small></h3>
        <input type="text" class="form-control" ng-model="ctrl.verification_code" placeholder="Enter verification Code" required="" autofocus="">
        <input type="password" name="password" ng-model="ctrl.password" class="form-control" placeholder="Enter New Password" required="" >
        <input type="password" name="password_confirm" ng-model="ctrl.password_confirm" class="form-control" placeholder="Confirm Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Submit
        </button>
    </div>
</form>
